version: '3.9'
services:

  high-kick-agent:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      CONFIG_PATH: /app/config/config.yaml
    ports:
      - "9900:9900"
    volumes:
      - ./example-config.yaml:/app/config/config.yaml:ro
      - ./output-data:/output-data
