version: '3.9'
services:

  high-kick-agent:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      CONFIG_PATH: /app/utils/example-config.yaml
    ports:
      - "9900:9900"

  postgres:
    image: postgres:17.6
    container_name: agent_postgres
    environment:
      POSTGRES_USER: sparkuser
      POSTGRES_PASSWORD: sparkpass
      POSTGRES_DB: sparkdb
      TZ: UTC
    ports:
      - "9432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  spark-master:
    image: bitnami/spark:4.0.0
    container_name: agent_spark
    environment:
      - SPARK_MODE=master
      - JAVA_TOOL_OPTIONS=-Duser.timezone=UTC
    ports:
      - "8080:8080"   # Master Web UI
      - "7077:7077"   # Master RPC
    depends_on:
      - postgres

  spark-worker-1:
    image: bitnami/spark:4.0.0
    container_name: agent_spark_worker_1
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
      - JAVA_TOOL_OPTIONS=-Duser.timezone=UTC
    depends_on:
      - spark-master

  spark-worker-2:
    image: bitnami/spark:4.0.0
    container_name: agent_spark_worker_2
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
      - JAVA_TOOL_OPTIONS=-Duser.timezone=UTC
    depends_on:
      - spark-master

volumes:
  pg_data:
