version: '3.9'
services:

  high-kick-agent:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      CONFIG_PATH: /app/utils/example-config.yaml
    ports:
      - "9900:9900"
